*.class
/server.api/build
/server.api/build
/server.rest/build
/server.war/build
/springular.ear/build
/server.war/build
/server.war/build
/.gradle
*.swp
/server.rest/bin
/server.api/bin
/server.webapp/build
/server.api/.classpath
/server.api/.project
/server.webapp/.settings
/server.webapp/.classpath
/server.webapp/.project
/server.webapp/.settings
/server.war/.project
/server.war/.settings
/server.war/.classpath
/server.rest/.settings
/server.rest/.classpath
/server.rest/.project
/server.api/.settings
/server.api/.settings
/server.api/.springBeans
/.idea
/.node_modules
/build
/node_modules
*.iml
/server.war/server.war.iml
/server.webapp/server.webapp.iml
/server.rest/server.rest.iml
/springular.ear/springular.ear.iml