<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
 
	<servlet>
	    <servlet-name>default</servlet-name>
	    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
	    <init-param>
	        <param-name>debug</param-name>
	        <param-value>0</param-value>
	    </init-param>
	    <init-param>
	        <param-name>listings</param-name>
	        <param-value>false</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>
 
	<servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>*.html</url-pattern>
	    <url-pattern>*.js</url-pattern>
	    <url-pattern>*.css</url-pattern>
	    <url-pattern>*.map</url-pattern>
	    <url-pattern>*.png</url-pattern>
	    <url-pattern>*.jpg</url-pattern>
	    <url-pattern>*.gif</url-pattern>
	</servlet-mapping>    
	
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>

    <mime-mapping>
       <extension>css</extension>
       <mime-type>text/css</mime-type>
    </mime-mapping>

    <mime-mapping>
       <extension>js</extension>
       <mime-type>application/javascript</mime-type>
    </mime-mapping>

    <mime-mapping>
       <extension>png</extension>
       <mime-type>image/png</mime-type>
    </mime-mapping>
    
    <mime-mapping>
       <extension>jpg</extension>
       <mime-type>image/jpeg</mime-type>
    </mime-mapping>

    <mime-mapping>
       <extension>gif</extension>
       <mime-type>image/gif</mime-type>
    </mime-mapping>
  
</web-app>