.animating.ng-enter {
    -webkit-transition: 1s;
    transition: 1s linear all;
    opacity:0;
}

.animating.ng-enter-active {
    opacity:1;
}

.animating.ng-leave {
    -webkit-transition: 1s;
    transition: 1s;
}

.animating.ng-leave-active {
    opacity:0;
}

.animating.ng-hide-add, .animating.ng-hide-remove {
    transition: 1s linear all;
    display: block !important;
}

.animating.ng-hide-remove {
    opacity: 0;
}

.animating.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.animating.ng-hide-add {
    opacity: 1;
}

.animating.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}