<div class="span6">

  <div class="btn-group btn-group-xs" ng-show="authService.isUserLoggedIn()">
    <button type="button" class="btn btn-primary" ng-click="createEmployee()">New employee ...</button>
  </div>

  <table class="table table-striped table-condensed" style="width: 360px;">
    <thead>
      <tr>
      <!-- ng-click="employeePredicate = 'login'" -->
        <th style="min-width: 80px;"  ng-class="sortClass('login')"><a href=""      ng-click="sortEmployees('login')">Login</a></th>
        <th style="min-width: 100px;" ng-class="sortClass('firstName')"><a href=""  ng-click="sortEmployees('firstName')">First name</a></th>
        <th style="min-width: 100px;" ng-class="sortClass('lastName')"><a href=""   ng-click="sortEmployees('lastName')">Last name</a></th>
        <th style="min-width: 80px;"  ng-class="sortClass('nationality')"><a href="" ng-click="sortEmployees('nationality')">Nationality</a></th>
        <th style="min-width: 175px;" ng-show="authService.isUserLoggedIn()"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
      	<td><input type="text" ng-model="filterCriteria.login" class="compact-filter"></td>
      	<td><input type="text" ng-model="filterCriteria.firstName" class="compact-filter"></td>
      	<td><input type="text" ng-model="filterCriteria.lastName" class="compact-filter"></td>
      	<td></td>
      	<td></td>
      </tr>
      
      <tr ng-repeat="employee in employeesFilteredList | orderBy:employeeOrderPredicate:employeeOrderReverse | startFrom:(employeesPage-1)*employeesPerPage | limitTo:employeesPerPage">
        <td>{{ employee.login }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td align="center"><img ng-src="img/flag_{{ employee.nationality }}.png"></td>
        <td ng-show="authService.isUserLoggedIn()">
          <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-primary" ng-click="editEmployee(employee)">Edit ...</button>
          </div>
          <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-primary" ng-click="deleteEmployee(employee)">Delete</button>
          </div>
          <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-primary" ng-click="showSalaries(employee)">Salaries</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination direction-links="true" total-items="employeesTotal" page="employeesPage" items-per-page="employeesPerPage" ng-show="employeesTotal > employeesPerPage"></pagination>
</div>