<div class="span6">

  <div id="salarySearchCriteria" class="btn-group btn-group-xs highlight" style="width: 680px;">
    <span>Salaries per page:</span>
    <select ng-model="filterCriteria.itemsProPage" class="compact-filter" style="width: 60px;">
    	<option>10</option>
    	<option>25</option>
    	<option>50</option>
    </select>
    
    <span style="padding-left: 20px;">Order by:</span>
    <select ng-model="filterCriteria.orderType" class="compact-filter" style="width: 150px;">
    	<option value="firstName.desc">First name desc</option>
    	<option value="firstName.asc">First name asc</option>
    	<option value="lastName.desc">Last name desc</option>
    	<option value="lastName.asc">Last name asc</option>
    	<option value="year.desc">Year desc</option>
    	<option value="year.asc">Year asc</option>
    	<option value="month.desc">Month desc</option>
    	<option value="month.asc">Month asc</option>
    	<option value="amount.desc">Amount desc</option>
    	<option value="amount.asc">Amount asc</option>
    </select>
    
    <div class="btn-group-xs" style="float: right;">
      <button type="submit" class="btn btn-primary" ng-click="executeSalarySearch()">Search</button>
    </div>
  </div>
    
  <table class="table table-striped table-condensed" style="width: 360px;">
    <thead>
      <tr>
        <th style="min-width: 120px;">First name</th>
        <th style="min-width: 120px;">Last name</th>
        <th style="min-width: 60px;">Year</th>
        <th style="min-width: 60px;">Month</th>
        <th style="min-width: 120px;">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" ng-model="filterCriteria.employeeFirstName" class="compact-filter"></td>
        <td><input type="text" ng-model="filterCriteria.employeeLastName" class="compact-filter"></td>
        <td><input type="text" ng-model="filterCriteria.year" class="compact-filter"></td>
        <td><input type="text" ng-model="filterCriteria.month" class="compact-filter"></td>
        <td><input type="text" ng-model="filterCriteria.amount" class="compact-filter"></td>
      </tr>
      <tr ng-repeat="salary in salaries">
        <td>{{ salary.employeeFirstName }}</td>
        <td>{{ salary.employeeLastName }}</td>
        <td>{{ salary.year }}</td>
        <td>{{ salary.month }}</td>
        <td>{{ salary.amount }}.00 $</td>
      </tr>
    </tbody>
  </table>
</div>